.about {
  padding: 57px 0 98px;
  background-color: var(--background);
  text-align: center;
}

.about__title {
  margin: 0 0 42px 0;
}

.about__content-ru,
.about__content-en {
  max-width: 780px;
  display: inline-block;
}

.about__subtitle {
  margin: 0 0 25px 0;
}

.about__description {
  text-align: justify;
}

.about__separator {
  margin: 15px auto;
}

@media (max-width: 480px) {
  .about__content-ru,
  .about__content-en {
    max-width: 320px;
  }
}
