.history {
  text-align: center;
  padding: 65px 0 70px;
}

.history__title {
  margin: 0 0 72px 0;
}

.history__img {
  width: 100%;
  height: 655px;
  object-fit: cover;
  margin: 0 0 30px;
}

@media (max-width: 480px) {
  .history {
    padding: 50px 0 79px;
  }

  .history__title {
    margin: 0 0 59px 0;
  }

  .history__img {
    height: 479px;
  }
}
