p {
  font-size: 18px;
  font-weight: 500;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 34px;
}

@media (max-width: 480px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }
}
