.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.social__link {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.social__link:hover {
  opacity: 0.65;
}

.social__icon {
  width: 55px;
  height: 55px;
}
